* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button:hover, a:hover {
  cursor: pointer; }

body {
  filter: saturate(1.1); }

.TransactionList {
  max-width: 750px;
  margin: 0 auto; }
