* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button:hover, a:hover {
  cursor: pointer; }

body {
  filter: saturate(1.1); }

.Calendar {
  height: 500px; }

.TransactionList {
  max-width: 750px;
  margin: 0 auto; }

.CreateInvoice .form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  max-width: 750px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border-radius: 5px;
  padding: 3rem;
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1); }
