@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button:hover, a:hover {
  cursor: pointer; }

body {
  filter: saturate(1.1); }

.Calendar {
  height: 500px; }

.TransactionList {
  max-width: 750px;
  margin: 0 auto; }

.TransactionListFilters {
  padding: 1rem 0; }

.transaction-item-topline div:nth-of-type(1) {
  display: flex;
  align-items: center; }

.transaction-item-topline p:nth-of-type(1) {
  width: 100px;
  margin-right: 1rem; }

.transaction-item__bulletpoint {
  border-radius: 50%;
  width: 10px;
  margin-right: 1rem;
  height: 10px; }
  .transaction-item__bulletpoint.--credit {
    background-color: green; }
  .transaction-item__bulletpoint.--debit {
    background-color: red; }

.TransactionItem__bottom {
  justify-content: space-between; }
  .TransactionItem__bottom div:nth-of-type(2) {
    min-width: 200px; }
    .TransactionItem__bottom div:nth-of-type(2) div:nth-of-type(1) {
      height: 70%; }

.CreateInvoice .form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  max-width: 750px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border-radius: 5px;
  padding: 3rem;
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1); }

.create-invoice-button {
  background-color: green !important;
  max-width: 200px !important;
  color: white !important;
  margin: 0 auto;
  padding: 1rem; }

.Menu {
  margin-bottom: 3rem; }
  .Menu .Menu__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
  .Menu Header {
    background-color: #222; }
