@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, a {
  &:hover {
    cursor: pointer;
  }
}

body {
  filter: saturate(1.1);
}

$max-content-width: 900px;

@mixin laptop-large {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 425px) {
    @content;
  }
}

@import '../ui/views/Auth/Auth.scss';
@import '../ui/views/Calendar/Calendar.scss';
@import '../ui/views/TransactionList/TransactionList.scss';
@import '../ui/views/TransactionUpload/TransactionUpload.scss';
@import '../ui/views/Invoices/Invoices.scss';
@import '../ui/views/CreateInvoice/CreateInvoice.scss';
@import '../ui/views/Profile/Profile.scss';
@import '../ui/global/Menu/Menu.scss';
