@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button:hover, a:hover {
  cursor: pointer; }

body {
  filter: saturate(1.1); }

.TransactionList {
  max-width: 750px;
  margin: 0 auto; }

.TransactionListFilters {
  padding: 1rem 0; }

.transaction-item-topline p:nth-of-type(1) {
  width: 100px;
  margin-right: 1rem; }

.Menu {
  margin-bottom: 1rem; }
  .Menu .Menu__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
  .Menu Header {
    background-color: #222; }
