.TransactionList {
  max-width: 750px;
  margin: 0 auto;

  &.--animate {}

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}

.TransactionListFilters {
  padding: 1rem 0;

  .date-range {
    
    .date-range-form {

    }
  }
}

.transaction-item-topline {
  p:nth-of-type(1) {
    width: 100px;
    margin-right: 1rem;
  }
}